.form1{
    position: relative;
    margin-top: 0%;
    padding: 0%;
    height:80em;
    width: 50em;
    border-style: solid;
    background-color: rgb(195, 173, 230);
}
#formulario1 {
    position: relative;
    display: flex;
    flex-direction: column; /*Cuando usas flex-direction: column, los elementos se apilan verticalmente uno sobre otro.*/
    width: 200px;
    top:20em;
    left:-25em;

    
    
}
#img1{
    position: absolute;
    height: auto;
    width: 50em;
}

#formulario1 input {
    position: relative;
    margin-bottom: 15px; /* Espacio entre los inputs */
    padding: 5px; /* Añade algo de espacio interior a los inputs */
    text-align: center;
    width: 30em;;
    font-size: medium;
    font-family:cursive;
    font-style: italic;
    color:darkblue
    
    
}
#d3{
  position: relative;
  top:1.5em;
  left:-13.7em;
}
#d4{
    position: relative;
    top: 3em;
    left:-27.4em
}
.opciones{
    position: relative;
    top:-25em;
}
#boto1,
#boto2,
#boto3,
#boto4 {
    position: absolute;
    top: 87em;
    left:4em;
    height: 5em;
    width:10em;
    
}
#imel{
    position: absolute;
    height: auto;
    width: 10em;
    left:10em;
}
#imella{
    position:absolute;
    height: auto;
    width: 7em;
    left:30em;
}


#imel:hover{
    transform: scale(1.1,1.2);
    cursor: pointer;
}
#imella:hover{
    transform: scale(1.1,1.2);
    cursor: pointer;
}
#titulo1{
    position: relative;
    text-align: center;
    top:7em;
}
#t1,
#t2,
#t3,
#t4,
#t5{   
    position: relative;
    top:-5em;
    left:33em;
    height: 4em;
    width: 25em;
}
#t6{
    position: absolute;
    height: 6em;
    width: 18em;
    background-color:rgb(255, 0, 195);
    left:33em;
    font-size: xx-large;
    border-radius: 10px;
    text-align: center;
    color:black;
    top:1em;
    
}
.bordes{
    border-style: solid;
    border-color: lime;
    border-radius: 5px;
}

   
    

#boto1{
    border-radius: 10px;
    background-color: black;
    color:red;
    left:1m;
}
#boto2{
    border-radius: 10px;
    background-color: black;
    color:red;
    left:17em;
}
#boto3{
    border-radius: 10px;
    background-color: black;
    color:red;
    left:30em;
}
#boto4{
    border-radius: 10px;
    background-color: black;
    color:red;
    left:42em;
}
#imel2{
    position: absolute;
    left:19em;
    display: none;
    height: auto;
}
#imella2{
    position: absolute;
    left:20em;
    display:none;
    height: 15em;
   
}
